:root
{
    /* === Primary-Color === */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /* === Neutral Color ===  */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    font-size: 62.5%;
}
body
{
    font-family: 'inter', sans-serif;
    font-size: 1.6rem;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.border
{
    /* border: 1px solid black; */
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
.padd-50
{
    padding: 0 10rem;
    position: relative;
}
/* Black Effect */
.back
{
    display: none;
}
/* === Ham-Burger Start === */
.ham-burger
{
    display: none;
    cursor: pointer;
}
.bar 
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--Very-dark-blue);
}
/* === Ham-Burger End=== */
/* === Nav-Bar start === */
.nav-bar
{
    grid-column-start: span 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
}
.nav-bar .main-menu
{
    display: flex;
    gap: 1.5rem;
}
.nav-bar .main-menu li a
{
    color: var(--Dark-grayish-blue);
    font-size: 1.8rem;
    transition: all 0.1s ease;
}
.nav-bar .main-menu li a:hover
{
    color: var(--Soft-red);
}
/* === Nav-Bar End === */
/* === Structure Main content Start=== */
.main-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    /* grid-gap: 5px 5%; */
    grid-gap: 1.5rem 5%;
}
/* === Structure Main content End=== */
/* === Banner Start === */
.banner
{
    grid-column-start: span 2;
    background: url(../Images/image-web-3-desktop.jpg) no-repeat center center/cover;
    height: 30rem
}
.banner img
{
    width: 100%;
}
/* === Banner End === */
/* === Aside Bar Start === */
.aside
{
    grid-row-start: span 2;
    background-color: var(--Very-dark-blue);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 1.5rem;
}
.aside h1
{
    color: var(--Soft-orange);
    padding: 1.5rem 0;
    font-weight: 700;
    font-size: 3.4rem;
}
.aside .inner-card a
{
    color: var(--Off-white);
    font-weight: 600;
    font-size: 2rem;
    margin-top: 4.5rem;
    transition: all 0.1s ease;
}
.aside .inner-card a:hover 
{
    color: var(--Soft-orange);
}
.aside .inner-card p
{
    color: var(--Grayish-blue);
    font-size: 1.5rem;
    padding: 10px 0;
}
.aside .last-card
{
    padding-bottom: 4rem;
}
hr
{
    margin: 1.2rem 0;
}
/* === Aside Bar End === */
/* === Title Start === */
.title h1
{
    font-weight: 900;
    font-size: 4rem;

}
/* === Title End=== */
/* === Para Start === */
.para
{
    font-size: 1.5rem;
    color: var(--Dark-grayish-blue);
}
.para .btn
{
    margin: 3rem 0px
}
.para .btn a
{
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 1rem 4rem;
    font-weight: 700;
    transition: all 0.1s ease;
}
.para .btn a:hover
{
    background-color: var(--Very-dark-blue);
}
/* === Para End=== */
/* === footer Section start === */
.card 
{
    display: flex;
}
.content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-bottom: .5rem;
}
.card img
{
    width: 10rem;
    /* width: 100%; */
    /* height: auto; */
}
.card h1
{
    color: var(--Grayish-blue);
}
.card h2
{
    color: var(--Dark-blue);
    font-size: 1.5rem;
    transition: all 0.1s ease;
}
.card h2:hover
{
    color: var(--Soft-red);
    cursor: pointer;
}
.card p
{
    color: var(--Dark-grayish-blue);
}
/* === footer Section End=== */
/* === Responsive === */
@media (max-width:900px) {
    :root 
    {
        font-size: 50%;
    }
}
@media (max-width:800px) {
    :root
    {
        font-size: 45%;
    }
}
@media (max-width:700px) {
    :root 
    {
        font-size: 40%;
    }
}
@media (max-width:600px) {
    :root 
    {
        font-size: 38%;
    }
}
@media (max-width:550px) {
    :root 
    {
        font-size: 30%;
    }
}
@media (max-width:500px) {
    .main-container
    {
        grid-template-columns: 1fr;
    }
    .nav-bar
    {
        grid-column-start: auto;
    }
    .nav-bar ul
    {
        display: none;
    }
    .nav-bar .logo img
    {
        width: 50%;
    }
    .banner
    {
        grid-column-start: auto;
        background: url(../Images/image-web-3-mobile.jpg) no-repeat center center/cover;
        height: 250px;
    }
    .padd-50
    {
        padding: 0 4rem;
    }
    .aside
    {
        grid-row-start: 4;
    }
    .nav-bar .ham-burger
    {
        display: block;
        z-index: 10;
    }
    .nav-bar .ham-burger.active .bar:nth-child(2)
    {
        opacity: 0;
    }
    .nav-bar .ham-burger.active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }
    .nav-bar .ham-burger.active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-bar .main-menu 
    {
        position: fixed;
        flex-direction: column;
        right: -100%;
        transition: all 0.3s ease;
        top: 0px;
        background-color: var(--Off-white);
        width: 60%;
        height: 100%;
        padding: 60px 20px;
        gap: 10px;
        z-index: 9;
    }
    .nav-bar .main-menu .nav-link
    {
        font-size: 15px;
    }
    .nav-bar .main-menu.active
    {
        right: 0;
    }
    .back
    {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0;
        z-index: 5;
        transition: all 0.3s ease;
    }
    .back.active 
    {
        opacity: 0.7;
    }
}
